# Ignore Python virtual environments
venv/
__pycache__/

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Kubernetes configurations
.kube/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
